<div class="divHeader">
    <h2>Create Product</h2>
    <a class="a" href="/home">Product List</a>
</div>
<div>
    <form action="/form_products" method="post" class="form">
        <ul>
            <li>
                <label class="label" for="">Title:</label>
                <input type="text" name="title" class="input">
            </li>
            <li>
                <label class="label" for="">Description:</label>
                <input type="text" name="description" class="input">
            </li>
            <li>
                <label class="label" for="">Code:</label>
                <input type="text" name="code" class="input">
            </li>
            <li>
                <label class="label" for="">Price:</label>
                <input type="number" name="price" class="input">
            </li>
            <li>
                <label class="label" for="">Status:</label>
                <input type="text" name="status" class="input">
            </li>
            <li>
                <label class="label" for="">Stock:</label>
                <input type="number" name="stock" class="input">
            </li>
            <li>
                <label class="label" for="">Category:</label>
                <input type="text" name="category" class="input">
            </li>
            <li>
                <label class="label" for="">Thumbnail:</label>
                <input type="text" name="thumbnail" class="input">
            </li>
            <div class="divButton">
                <button type="submit" class="button">Enviar</button>
            </div>
        </ul>
    </form>
</div>