<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
</head>

<body>
    <main>
        <div class="divTitle">
            <h2>My E-commerce</h2>
        </div>
    <div class="divIndex">
        <a class="a" href="/home">Products List</a>
        <a class="a" href="/form_products">Create product</a>
        <a class="a" href="/realtimeproducts">Products in Real Time</a>
        <a class="a" href="/products">Products</a>
        <a class="a" href="/chat">Chat</a>

    <!--Falta la ruta del cart xq al tener que ponerle el id para buscarlo, no la puedo poner -->
    
    </div>
    </main>
</body>

</html>