h1{
    color:rgb(186, 72, 195);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div{
    display: flex;
    justify-content: center;
}

.border{
    border-collapse: collapse;
    border: solid;
    border-color:rgba( 255, 255, 255, 0.2);
    margin: 20px;

}
.head{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgb(156, 127, 184);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.td{
    padding: 20px 15px;
}

.tdata{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: rgb(198, 178, 217);
    text-align: center;
    padding: 15px;
    border-bottom: solid 1px rgba( 255, 255, 255, 0.2);
    
}

tbody td:hover {
    background-color: rgba(243,103,199,0.4);
}