#h1{
    margin: 5px auto;
    padding:0%;
    color:rgb(186, 72, 195);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    height: 40px;
}

.divTitle{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 1500px;
}

.cardProducts{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding-block: 40px;
    padding-inline: 30px;
    gap:40px;
    justify-items: center;
    align-items: center;
}

.imgcard {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

* {
    box-sizing: border-box
}
    
:root {
    --max: 18rem
}
    
body {
    margin: 0;
    padding: 0;
    min-height: 100%
}
    
.card {
    width: var(--max)
}
    
.card-img-top {
    width: 100%;
    max-width: var(--max);
    height: calc(var(--max));
    object-fit: cover;
}

